# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example

# Testing
coverage
/cypress/videos/
/cypress/screenshots/

# TypeScript
*.tsbuildinfo

# Cache
.cache
.temp
.eslintcache
.stylelintcache

# Local Netlify folder
.netlify

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn Integrity file
.yarn-integrity

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Vite
.vite

# Vue
*.vue.js
*.vue.jsx
*.vue.ts
*.vue.tsx

# Temporary files
*.tmp
*.temp
